<div>
  <!-- Tools and dependencies -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet"
  />

  <!-- Vue.js Library -->
  <script src="https://unpkg.com/vue@2.6.12"></script>

  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

  <!-- HTML - Render -->
  <div id="form-marketplace">
    <div class="widget container">
      <div class="row d-flex justify-content-around">
        <div class="col-12 col-md-7">
          <div class="form mb-5">
            <h6 class="title-widget text-black">Añade tus datos para recibir el certificado.</h6>

            <!--  <div class="mb-2">
              <label class="form-label">Yo soy Individual</label>
              <select class="form-control form-select">
                <option value="Individual">Individual</option>
                <option value="Empresa">Empresa</option>
              </select>
            </div> -->

            <div class="row mb-2">
              <div class="col">
                <label class="form-label">Nombre Contacto</label>
                <input type="text" class="form-control" v-model="formData.name" />
                <p class="error-message" v-show="errors.name">*Por favor, introduce tu nombre</p>
              </div>
              <div class="col">
                <label class="form-label">Apellidos</label>
                <input type="text" class="form-control" v-model="formData.firstSurname" />
                <p class="error-message" v-show="errors.firstSurname">
                  *Por favor, introduce tus apellidos
                </p>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" v-model="formData.email" />
                <p class="error-message" v-show="errors.email">
                  *Por favor, introduce un correo electrónico valido
                </p>
              </div>
              <div class="col">
                <label class="form-label">Teléfono</label>
                <input type="number" class="form-control" v-model="formData.phone" />
                <p class="error-message" v-show="errors.phone">*Por favor, introduce tu teléfono</p>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-sm-6 mb-2">
                <label class="form-label">Nombre de empresa</label>
                <input type="email" class="form-control" v-model="formData.companyName" />
                <p class="error-message" v-show="errors.companyName">
                  *Por favor, introduce el nombre de tu empresa
                </p>
              </div>
              <div class="col-12 col-sm-6 mb-2">
                <label class="form-label">Seleccione el tamaño de la empresa</label>
                <select class="form-control form-select" v-model="formData.companySize">
                  <option value="" disabled selected>Seleccione una opción</option>
                  <option value="Pequeña (0-50 empleados)">Pequeña (0-50 empleados)</option>
                  <option value="Mediana (50-200 empleados)">Mediana (50-100 empleados)</option>
                  <option value="Grande (>200 empleados)">Grande (>200 empleados)</option>
                </select>
                <p class="error-message" v-show="errors.companySize">
                  *Por favor, introduce el tamaño de tu empresa
                </p>
              </div>
            </div>
            <div class="mb-2">
              <label class="form-label">NIF/CIF</label>
              <input type="text" class="form-control" v-model="formData.photoId" />
              <p class="error-message" v-show="errors.photoId">*Por favor, introduce tu NIF/CIF</p>
            </div>
            <div class="mb-2">
              <label class="form-label">Direccion, calle, numero </label>
              <input type="text" class="form-control" v-model="formData.address" />
              <p class="error-message" v-show="errors.address">
                *Por favor, introduce tu dirección
              </p>
            </div>

            <div class="row mb-2">
              <div class="col">
                <label class="form-label">Codigo Postal</label>
                <input type="text" class="form-control" v-model="formData.postcode" />
                <p class="error-message" v-show="errors.postcode">
                  *Por favor, introduce tu código postal
                </p>
              </div>
              <div class="col">
                <label class="form-label">Pais</label>
                <input type="text" class="form-control" v-model="formData.country" />
                <p class="error-message" v-show="errors.country">*Por favor, introduce tu pais</p>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col">
                <label class="form-label">Provincia</label>
                <input type="text" class="form-control" v-model="formData.county" />
                <p class="error-message" v-show="errors.county">
                  *Por favor, introduce tu provincia
                </p>
              </div>
              <div class="col">
                <label class="form-label">Ciudad</label>
                <input type="text" class="form-control" v-model="formData.town" />
                <p class="error-message" v-show="errors.town">*Por favor, introduce tu ciudad</p>
              </div>
            </div>

            <div class="mb-2">
              <label class="form-label">Generar certificado en otro idioma</label>
              <select class="form-control form-select" v-model="formData.language">
                <option value="" disabled>Seleccione una opción</option>
                <option value="es" selected>Español</option>
                <option value="en">Inglés</option>
              </select>
              <p class="error-message" v-show="errors.language">
                *Por favor, introduce el idioma de tu certificado
              </p>
            </div>
            <div class="mb-2">
              <div class="mb-1 form-check">
                <input type="checkbox" class="form-check-input p-2" v-model="termsAgreed" />
                <label class="ms-2 form-check-label" @click="displayTerms()"
                  >Aceptar terminos y condiciones</label
                >
              </div>
              <p class="error-message" v-show="errors.termsAgreed">
                *Por favor, acepta los terminos y condiciones
              </p>
            </div>
            <div class="py-2">
              <button class="btn-co2 btn btn-primary" @click="handleSubmit">
                Compensar CO2
                <div v-if="isSending" class="spinner-border spinner-border-sm" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </button>
            </div>
          </div>
        </div>
        <div class="col" style="max-width: 480px">
          <div class="details">
            <div class="item-detail d-flex">
              <img
                src="https://forestbank.es/wp-content/uploads/2022/06/forest-bank-logo.png"
                v-show="!projectSelected"
              />

              <img :src="projectSelected && projectSelected.image" v-show="projectSelected" />

              <div class="ms-3 w-100">
                <p
                  class="fw-bolder text-black text-uppercase mb-2"
                  v-text="projectSelected && projectSelected.title"
                ></p>

                <div class="d-flex justify-content-between">
                  <span class="" v-text="itemAmount"></span>
                  <span class="text-black" v-text="subtotal + ' €'"></span>
                </div>
              </div>
            </div>
            <hr />

            <div class="item-detail d-flex justify-content-between mb-2">
              <span>Subtotal</span>
              <span v-text="subtotal + ' €'"></span>
            </div>
            <div class="item-detail d-flex justify-content-between mb-2">
              <span>IVA</span>
              <span v-text="IVA + ' €'"></span>
            </div>
            <hr style="margin-bottom: 35px" />

            <div class="item-detail d-flex justify-content-between mb-3 text-black fw-bolder">
              <span>Total</span>
              <span v-text="total + ' €'"></span>
            </div>

            <div class="py-2">
              <button class="btn-co2 btn btn-primary" @click="handleSubmit">
                Compensar CO2
                <div v-if="isSending" class="spinner-border spinner-border-sm" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </button>
            </div>
          </div>

          <div class="statistics mt-5">
            <div class="stats-1 mb-4">
              <div class="w-50 pe-2">
                <p>Equivalente a plantar estos árboles</p>
              </div>

              <div class="img-container d-flex align-items-center">
                <img
                  src="https://forestbank.es/wp-content/uploads/2024/09/tree.png"
                  class="mx-3"
                  width="19"
                />
                <span class="measures" v-text="calculateEquivalentTrees + '+'"></span>
              </div>
            </div>

            <div class="stats-2 mb-4">
              <div class="w-50 pe-2">
                <p>Distancia en km en coche</p>
              </div>

              <div class="img-container d-flex align-items-center">
                <img
                  src="https://forestbank.es/wp-content/uploads/2024/09/car.png"
                  class="mx-3"
                  width="19"
                />
                <span class="measures" v-text="calculateKilometersSaved"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <iframe
    id="myIframe"
    style="
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      z-index: 999999;
      display: none;
    "
  ></iframe>

  <!--Logic  -->
  <script>
    // App Principal
    new Vue({
      el: "#form-marketplace",
      name: "form-marketplace",
      data() {
        return {
          baseUrl: "https://artemisaengine.com",
          price: 100,
          quantity: 1,
          projectSelected: null,
          formData: {
            email: "",
            name: "",
            firstSurname: "",
            secondSurname: "",
            phone: "",
            companyName: "",
            companySize: "",
            photoId: "", //nif/cif,
            address: "",
            postcode: "",
            country: "",
            county: "",
            town: "",
            numberOfCredits: "",
            language: "es",
            requestInformation: false,
          },
          termsAgreed: false,
          errors: {
            email: "",
            name: "",
            firstSurname: "",
            // secondSurname: "",
            phone: "",
            companyName: "",
            companySize: "",
            photoId: "", //nif/cif,
            address: "",
            postcode: "",
            country: "",
            county: "",
            town: "",
            // numberOfCredits: "",
            language: "",
            termsAgreed: "",
          },
          isSending: false,
        };
      },

      methods: {
        regexEmail(email) {
          //Email
          const regexMail = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;

          return regexMail.test(email);
        },
        validateErrors() {
          // debugger;

          this.errors["email"] = !this.regexEmail(this.formData.email) ? true : false;

          this.errors["name"] = !this.formData.name ? true : false;

          this.errors["firstSurname"] = !this.formData.firstSurname ? true : false;

          // this.errors["secondSurname"] = !this.formData.secondSurname ? true : false;

          this.errors["phone"] = !this.formData.phone ? true : false;

          this.errors["companyName"] = !this.formData.companyName ? true : false;

          this.errors["companySize"] = !this.formData.companySize ? true : false;

          this.errors["photoId"] = !this.formData.photoId ? true : false;

          this.errors["address"] = !this.formData.address ? true : false;

          this.errors["postcode"] = !this.formData.postcode ? true : false;

          this.errors["country"] = !this.formData.country ? true : false;

          this.errors["county"] = !this.formData.county ? true : false;

          this.errors["town"] = !this.formData.town ? true : false;

          // this.errors["numberOfCredits"] = !this.formData.numberOfCredits ? true : false;
          this.errors["language"] = !this.formData.language ? true : false;

          this.errors["termsAgreed"] = !this.termsAgreed ? true : false;
        },
        redirectToStripe() {
          let client_reference_id = this.formData.email
            .replaceAll("@", "SLOTat12")
            .replaceAll(".", "SLOTdot13");
          let params = `?prefilled_email=${this.formData.email}&locale=es&client_reference_id=${client_reference_id}`;

          let url;

          if (this.quantity == 1) url = `https://buy.stripe.com/test_dR64iU6rk0qg2K4dQT${params}`;
          if (this.quantity == 2) url = `https://buy.stripe.com/test_aEU16I7voeh6doI7sw${params}`;
          if (this.quantity == 3) url = `https://buy.stripe.com/test_7sI4iU5nggpedoI149${params}`;
          if (this.quantity == 4) url = `https://buy.stripe.com/test_cN26r24jc6OEesM5kq${params}`;
          if (this.quantity == 5) url = `https://buy.stripe.com/test_eVa9De6rkfla98s007${params}`;
          if (this.quantity == 6) url = `https://buy.stripe.com/test_28oeXybLE0qg3O84go${params}`;
          if (this.quantity == 7) url = `https://buy.stripe.com/test_eVa2aM3f8a0Q1G09AJ${params}`;
          if (this.quantity == 8) url = `https://buy.stripe.com/test_cN216IbLEgpe3O86oy${params}`;
          if (this.quantity == 9) url = `https://buy.stripe.com/test_5kAbLmg1U7SI3O89AL${params}`;
          if (this.quantity == 10) url = `https://buy.stripe.com/test_cN29DecPIc8Y4SceV6${params}`;

          window.location.href = url;
        },
        handleSubmit() {
          this.validateErrors();

          if (Object.values(this.errors).every((e) => e === false)) {
            // &&  Object.values(this.formData).every((e) => e !== "")
            // console.log(this.formData);
            this.isSending = true;
            this.formData.numberOfCredits = `${this.quantity}`;

            if (this.projectSelected) this.formData.action = this.projectSelected["title"];

            // console.log(this.formData);
            // return;

            fetch(`${this.baseUrl}/marketplace/postLead`, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(this.formData),
            })
              .then((response) => response.text())
              .then((response) => {
                console.log(response);
                if (response === "OK") {
                  //Redirec to Stripe
                  this.redirectToStripe();
                } else {
                  Swal.close();
                }
              })
              .catch((error) => {
                console.error("Error:", error);
              })
              .finally(() => (this.isSending = false));
          }
        },
        displayTerms() {
          Swal.fire({
            // title: "Términos y Condiciones",
            html: `<style>
      .terms-and-conditions {
        /* display: none; */
        font-family: Arial, sans-serif !important;
        line-height: 1.6 !important;
        margin: 20px !important;
        background-color: #f9f9f9 !important;
        color: black !important;
        font-size: 17px !important;
        max-height: 85vh; /* Altura máxima del contenido dentro del modal */
        overflow-y: auto; /* Scroll vertical si el contenido excede la altura */
        padding-right: 10px; /* Espacio adicional para evitar ocultar el contenido 

        h5 {
          text-align: center !important;
          font-weight: 700 !important;
        }
        ol {
          margin: 0 20px !important;
        }
      }
    </style>
    <!-- Terms and Conditions -->
    <div class="terms-and-conditions">
      <p class="mb-0 fw-bold">Términos y Condiciones del Marketplace de</p>
      <p class="mb-4 fw-bold">Proyectos de Compensación de CO2 de Forest Bank</p>

      <ol style="text-align: left">
        <li class="mb-2">
          <strong>Objeto del Marketplace:</strong> El presente Marketplace tiene como objetivo la
          compra y venta de créditos de carbono procedentes de proyectos de compensación de CO2. Los
          créditos disponibles en esta plataforma provienen de proyectos inscritos en el Registro de
          huella de carbono, compensación y proyectos de absorción de dióxido de carbono del
          Ministerio para la Transición Ecológica y el Reto Demográfico, en cumplimiento de la Ley
          de Cambio Climático y Transición Energética.
        </li>
        <li class="mb-2">
          <strong>Definición de Créditos de Carbono:</strong> Cada crédito de carbono disponible en
          este Marketplace corresponde a la reducción o absorción de 1 tonelada de CO2 de la
          atmósfera. Estos créditos de carbono están vinculados exclusivamente a proyectos que
          cuentan con la correspondiente inscripción en el Registro de huella de carbono,
          compensación y proyectos de absorción de dióxido de carbono del Ministerio para la
          Transición Ecológica y el Reto Demográfico.
        </li>
        <li class="mb-2">
          <strong>Acreditación para la Compra de Créditos de Carbono:</strong> Si la compra de
          créditos de carbono tiene como finalidad la compensación de emisiones de CO2, el comprador
          deberá acreditar que su entidad tiene registrada su huella de carbono en el Registro de
          huella de carbono, compensación y proyectos de absorción de dióxido de carbono del
          Ministerio para la Transición Ecológica y el Reto Demográfico. La ausencia de esta
          acreditación podría invalidar el uso de los créditos comprados para tales fines.
        </li>
        <li class="mb-2">
          <strong>Cumplimiento con la Ley de Cambio Climático y Transición Energética:</strong>
          Todos los créditos de carbono comercializados en este Marketplace se rigen por los
          principios establecidos en la Ley de Cambio Climático y Transición Energética (Ley 7/2021,
          de 20 de mayo). Esta ley tiene como propósito la consecución de la neutralidad climática
          en España y establece las medidas para reducir las emisiones de gases de efecto
          invernadero en los distintos sectores de la economía.
        </li>
        <li class="mb-2">
          <strong>Protección de Datos Personales:</strong> De acuerdo con el Reglamento General de
          Protección de Datos (RGPD) (Reglamento (UE) 2016/679), el Marketplace se compromete a
          garantizar la confidencialidad y seguridad de los datos personales de los usuarios. Los
          datos recopilados serán tratados exclusivamente para los fines relacionados con la
          prestación del servicio y el cumplimiento de las obligaciones legales aplicables.

          <ul class="my-3">
            <li>
              <strong>Responsable del tratamiento de datos:</strong> Banco Forestal Huella de
              Carbono SL.
            </li>
            <li>
              <strong>Finalidad del tratamiento:</strong> Los datos personales proporcionados serán
              utilizados para la gestión de las transacciones y la prestación del servicio ofrecido
              por el Marketplace.
            </li>
            <li>
              <strong>Derechos del usuario:</strong> El usuario tiene derecho a acceder, rectificar
              y suprimir sus datos personales,/Dk como a oponerse al tratamiento o solicitar la
              portabilidad de los mismos. Estos derechos pueden ejercerse enviando una solicitud a
              <span class="fw-bolder">${this.formData.email}</span>.
            </li>
          </ul>
        </li>
        <li class="mb-2">
          <strong>Responsabilidad del Usuario:</strong> El usuario del Marketplace es responsable de
          la veracidad y exactitud de los datos proporcionados, así como del uso que realice de los
          créditos de carbono adquiridos. La plataforma no se hace responsable del mal uso o uso
          indebido de los créditos de carbono comprados, especialmente en los casos en que el
          comprador no cumpla con los requisitos legales para la compensación de emisiones.
        </li>
        <li class="mb-2">
          <strong>Limitación de Responsabilidad:</strong> El Marketplace actúa como intermediario en
          la compra y venta de créditos de carbono y no garantiza la veracidad ni la precisión de
          los datos proporcionados por terceros, incluidos los proyectos de compensación. La
          responsabilidad de cumplir con la normativa vigente en relación con la huella de carbono
          recae exclusivamente en el comprador.
        </li>
        <li class="mb-2">
          <strong>Modificación de los Términos y Condiciones:</strong> El Marketplace se reserva el
          derecho de modificar los presentes Términos y Condiciones en cualquier momento, informando
          a los usuarios con antelación suficiente sobre cualquier cambio significativo. La
          continuación en el uso del servicio implica la aceptación de dichos cambios.
        </li>
        <li>
          <strong>Ley Aplicable y Jurisdicción:</strong> Estos Términos y Condiciones se rigen por
          la legislación española. En caso de conflicto, las partes acuerdan someterse a la
          jurisdicción de los tribunales del domicilio del comprador, siempre que éste tenga la
          condición de consumidor y usuario según lo establecido en la normativa vigente.
        </li>
      </ol>
    </div>`,
            width: "900px",
            heightAuto: false,
            showCloseButton: true,
            focusConfirm: false,
            showConfirmButton: false,
            // confirmButtonText: "Aceptar",
            customClass: {
              popup: "terms-popup",
            },
          });
        },
        //Iframe
        displayMainFormIframe(params) {
          var iframe = document.getElementById("myIframe");
          iframe.src = `https://form.slothmove.com/${params}`;
          iframe.style.display = "block";

          setTimeout(() => {
            //Iframe Loaded

            window.onmessage = function (e) {
              if (typeof e.data === "string" && JSON.parse(e.data).stripe) {
                top.window.location.href = JSON.parse(e.data).stripe;
                return;
              }
              return;
            };
          }, 1000);
        },
      },
      mounted() {
        const carbonCredits = Cookies.get("carbon-credits");
        const project = Cookies.get("project-selected");
        if (project) {
          this.projectSelected = JSON.parse(project);
          console.log(this.projectSelected);
        }
        if (carbonCredits) {
          this.quantity = Number(carbonCredits);
        }
      },
      computed: {
        itemAmount() {
          return `${this.price} € x ${this.quantity} tCO2e`;
        },
        subtotal() {
          return this.price * this.quantity;
        },
        IVA() {
          return this.price * this.quantity * 0.21;
        },
        total() {
          return this.price * this.quantity + this.IVA;
        },
        // Function to calculate equivalent trees planted
        calculateEquivalentTrees() {
          // Convert tCO2e to kgCO2e
          const absorptionRate = 167;
          const kgCO2e = this.quantity * 1000;
          const trees = kgCO2e / absorptionRate; // Use adjusted rate
          return Math.ceil(trees);
        },

        // Function to calculate kilometers of car saved
        calculateKilometersSaved() {
          // Convert tCO2e to kgCO2e
          const emissionRate = 0.095;
          const kgCO2e = this.quantity * 1000; // Convert tCO2e to kgCO2e
          const kilometers = kgCO2e / emissionRate;
          return Math.round(kilometers);
        },
      },
      watch: {},
    });
  </script>
  <!--Logic  -->

  <style>
    #form-marketplace {
      font-family: "Roboto", sans-serif !important;
      font-weight: 400;
      font-style: normal;
      margin: 20px;
      font-size: 15px;
      color: gray;

      .title-widget {
        font-family: "Roboto", sans-serif !important;
      }

      .form {
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
          0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        padding: 24px;
        background-color: white;
      }

      p {
        margin: 0;
        line-height: 1.4 !important;
      }

      .form-label {
        margin-bottom: 0 !important;
      }

      hr {
        margin: 1rem 0 !important;
      }

      .btn-primary {
        background-color: #006a32 !important;
        border-color: #006a32 !important;
        color: #fff;

        &:hover,
        &:focus {
          background-color: #006a32dc !important;
          border-color: #006a32dc !important;
        }
      }

      .form-control:focus {
        border-color: #04ab52d0 !important;
        box-shadow: 0 0 0 0.1rem rgba(0, 106, 50, 0.693) !important;
      }

      .error-message {
        color: red;
        font-size: 14px;
      }

      input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none !important;
      }

      .form-check {
        display: flex !important;
        align-items: center !important;

        .form-check-input {
          margin-top: 0em;
        }

        .form-check-label {
          &:hover {
            cursor: pointer;
            color: blue;
            text-decoration: underline;
          }
        }
      }

      .btn-co2 {
        width: 200px;
        border-radius: 24px;
        padding: 8px 14px;
      }

      .details {
        padding: 24px;
        background-color: white;
        box-shadow: 0 40px 80px rgba(0, 0, 0, 0.08), 0 16px 30px rgba(0, 0, 0, 0.08),
          0 10px 18px rgba(0, 0, 0, 0.08), 0 5px 10px rgba(0, 0, 0, 0.08),
          0 3px 6px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.08) !important;
        border-radius: 8px !important;
        font-size: 16px;

        img {
          box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
            0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          border-radius: 8px;
          height: 56px !important;
          width: 56px !important;
          position: initial !important;
          overflow: initial !important;
        }
      }

      .statistics {
        font-weight: 500;

        .stats-1,
        .stats-2 {
          display: flex;
          max-width: 340px;
          width: 100%;
          height: 72px;
          border-radius: 10px;
          min-width: 250px;
          padding: 18px;

          &.stats-1 {
            background-color: #2daa7814;
            color: #2daa78;

            .img-container {
              color: white;
              background-color: #2daa78;
              border-radius: 4px;
              width: 50%;
            }
          }

          &.stats-2 {
            background-color: #0097fc52;
            color: #344faf;

            .img-container {
              color: white;
              background-color: #344faf;
              border-radius: 4px;
              width: 50%;
            }
          }
        }

        .measures {
          font-size: 24px;
        }
      }
    }
  </style>
</div>
